app/backend/node_modules/
app/backend/.env
app/ai-service/node_modules/
client_secret_952637023570-2541n5tkc4evp7crrbd86p1qi5ja34o9.apps.googleusercontent.com.json
# ======================
# ENV FILES
# ======================
.env
.env.*
!.env.example
# ======================
# DEPENDENCIES
# ======================
node_modules/
`
# ======================
# LOGS
# ======================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# BUILD OUTPUTS
# ======================
dist/
build/
coverage/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE FILES
# ======================
.vscode/
.idea/

# ======================
# REACT NATIVE
# ======================

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.keystore
*.jks

# iOS
ios/build/
ios/Pods/
*.xcworkspace

# Metro
.metro-health-check*

# React Native Debugger
.react-native/

# ======================
# CACHE
# ======================
.cache/
.parcel-cache/
.npm/
.eslintcache
.stylelintcache

# ======================
# TEMP FILES
# ======================
tmp/
temp/
*.tmp

# ======================
# MONGODB
# ======================
mongodb-data/

# ======================
# TESTING
# ======================
.nyc_output/

# ======================
# MISC
# ======================
*.pid
*.seed
*.pid.lock




# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.claude/
app/ai-service/models/
model_fp32.tflite
tokenizer_config.json
quntization.ipynb
sms_classifier_fp32.tflite
models_experiments/